<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scrumapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight"
        tools:targetApi="31">

        <!-- MainActivity es el launcher principal -->
        <activity
            android:name="com.example.scrumapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity - Pantalla de registro -->
        <activity
            android:name="com.example.scrumapp.RegisterActivity"
            android:exported="false" />

        <!-- LoginActivity - Pantalla de inicio de sesión -->
        <activity
            android:name="com.example.scrumapp.LoginActivity"
            android:exported="false" />

        <!-- HomeActivity - Pantalla principal después del login -->
        <activity
            android:name="com.example.scrumapp.HomeActivity"
            android:exported="false" />

        <!-- ProfileActivity - Ver perfil del usuario -->
        <activity
            android:name="com.example.scrumapp.ProfileActivity"
            android:exported="false" />

        <!-- EditProfileActivity - Editar datos personales -->
        <activity
            android:name="com.example.scrumapp.EditProfileActivity"
            android:exported="false" />

    </application>

</manifest>